body {
    font-family: Verdana, sans-serif;
    font-size: 1vw;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
    border: thin solid grey;
}

header {
    background-color: grey;
    padding-bottom: 3px;
    text-align: center;
}

header input[type="text"] {
    width: 50%;
    border: none;
}

header button {
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
}

nav {
    overflow: hidden;
    background-color: lightgrey;
    padding: 1.6%;
}

.nav-text {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    text-align: right;
}

.nav-text a {
    background-color: gray;
    text-decoration: none;
    color: white;
    padding: 2%;
}

.nav-text span {
    float: left;
}

.inner-container {
    overflow: hidden;
    margin: 0.3% 3%;
    padding: 0px;
}

.main-content {
    margin: auto;
    overflow: hidden;
}

.gallery-item {
    width: 100%;
    text-align: center;     
    margin-bottom: 1px;
    float: left;
}

.gallery-item img {
    width: 100%;
    height: 100px;
}

.gallery-item-small {
    width: 49.75%;
    text-align: center;
    margin-top: 0px;
    float: left;
}

.gallery-item-small:last-child {
    margin-left: 0.5%;
}

.gallery-item-small img {
    width: 100%;
    height: 50px;
}

.cards-container {
    overflow: hidden;
    clear: both;
    padding-top: 2%;
    padding-bottom: 2%;
}

.card {
    overflow: hidden;
    float: left;
    width: 32%;
    background-color: none;
    border: 1px solid grey;
    padding: 10px;
    text-align: center;
    margin-right: 2%;
    box-sizing: border-box;
    height: 400px;
}

.card-small-container {
    float: left;
    width: 32%;
    height: 400px;
    box-sizing: border-box;
    background-color: none;
    padding: 0;
}

.card-small {
    overflow: hidden;
    width: 100%;
    height: 32%;
    background-color: none;
    border: 1px solid grey;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.card-small:last-child {
    margin-bottom: 0;
}

.card img {
    width: 30%;
    margin-bottom: 10px;
}

.card-small img {
    float: left;
    width: 30%;
    margin-bottom: 10px;
}

.card h2{
    font-size: 1vw;
    margin-bottom: 15px;
}

.card-small h2 {
    font-size: 1vw;
    margin-bottom: 15px;
}

.card-small-info {
    overflow: hidden;
}

.card .text, .card-small .text {
    clear: both;
    text-align: left;
    line-height: 1.6;
    color: grey;
    font-size: 0.7vw;
}

.card .text span, .card-small .text span {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

footer {
    padding: 10px;
    background-color: grey;
    color: black;
    text-align: justify;
}

.footer-text {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    text-align: left;
}

.footer-text span {
    float: right;
}
